<div class="container">
    <div class="form-group">
        <input [(ngModel)]="tempProduct.MaSP" type="text" class="form-control" name="" id="" aria-describedby="helpId"
            placeholder="mã sp">
        <input [(ngModel)]="tempProduct.TenSP" type="text" class="form-control" name="" id="" aria-describedby="helpId"
            placeholder="tên sp">
        <input [(ngModel)]="tempProduct.Gia" type="text" class="form-control" name="" id="" aria-describedby="helpId"
            placeholder="giá">
        <button class="btn btn-success" (click)="addProduct()">Thêm sp</button>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã sp</th>
                <th>Tên sp</th>
                <th>Giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of arrProduct; let i=index">
                <td>{{i+1}}</td>
                <td>{{item.MaSP}}</td>
                <td>{{item.TenSP}}</td>
                <td>{{item.Gia}}</td>
                <td>
                    <button class="btn btn-danger" (click)="onDeleteProduct(item.MaSP)">Xóa sp</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>