<p>demo-directive works!</p>

<!-- *ngIf="biểu thức điều kiện" -->
<!-- <h1 *ngIf="!isIll">Go to cybersoft</h1>
<h1 *ngIf="isIll">Go to cybercore</h1>
<button (click)="onFeel(false)">Feel Good</button>
<button (click)="onFeel(true)">Mr.Stark, I don't feel so good</button> -->

<!-- <h1 *ngIf="!isIll; else elseCondition">Go to cybersoft</h1>
<ng-template #elseCondition>
    <h1>Go to cybercore</h1>
</ng-template>
<button (click)="onFeel(false)">Feel Good</button>
<button (click)="onFeel(true)">Mr.Stark, I don't feel so good</button> -->


<!-- *ngSwitch -->
<!-- <select #selectMonth (change)="onChangeMonth(selectMonth.value)"> -->
<!-- <select [(ngModel)]="month">
    <option value="">-Chọn tháng-</option> -->
<!-- <option value="1">Tháng 1</option>
    <option value="2">Tháng 2</option>
    <option value="3">Tháng 3</option>
    <option value="4">Tháng 4</option>
    <option value="69">Tháng 69</option> -->
<!-- *ngFor -->
<!-- <option *ngFor="let item of monthOpt" value="{{item.val}}">{{item.label}}</option>

</select>
<div [ngSwitch]="month">
    <p *ngSwitchCase="1">Tháng 1 có 31 ngày</p>
    <p *ngSwitchCase="2">Tháng 2 có 28 ngày</p>
    <p *ngSwitchCase="3">Tháng 3 có 31 ngày</p>
    <p *ngSwitchCase="4">Tháng 4 có 30 ngày</p>
    <p *ngSwitchDefault>ásdfhsdhfkjkdasd</p>
</div> -->

<!-- này là thẻ rỗng, không hiện trên html, giống fragment react -->
<!-- <ng-container></ng-container> -->

<!-- <ng-content></ng-content> -->